.white {
    background-color: #b3cece;
}


/*Naviation bar*/

a, li, ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu > ul {
    margin-left: 2%;
    padding-left: 2px;
    font-size: 12px;
    position: relative;
    background-color: #b3cece;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu > ul > li{
    display: inline-block;
}


.main {
    z-index: 1;
    margin-top: 10px;
    background-color: #b3cece;
}

.right {
    margin-right: 2%;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.main > li {
    padding-right: 10px;
}


.right {
    text-align: right;
}

.sub {
    display: none;
    position:absolute;
    z-index: -1;
    transition: ease-in .07s;
}

.sub a {
    display: block;
    padding: 3px;
    font-size: 10px;
}

.main :hover {
    transition: ease-in .07s;
    color: white;
}

.right :hover {
    transition: ease-in .07s;
    color: white;
}

.menu:hover .sub {
    display: block;
    padding-left: 0px;
    margin-left: 0px;
    opacity: 1;
    background-color:  #b3cece;
    width: 150px;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #b3cece;
}

.sub li:first-child {
    padding-top: 20px;
    z-index: -1;
}

.sub li:first-child :hover {
    z-index: -1;
}

/*titel*/

.titel > h4 {
    color: white;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.titel > h3 {
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/*rest*/
.ich {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 30px;
}

.untereinander p {
    display: flex;
    align-content: flex-end;
    font-size: 12px;
    padding-right: 40px;
    
    margin-bottom: 170px;
}

.untereinander a {
    font-size: 12px;
    color: white;
}



.ich img {
    margin-top: 50px;
    width: 300px;
    height: fit-content;
}

/*Impressum*/

.boden {
    background-color: #b3cece;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}

.zsm {
    display: flex;
    justify-content: flex-start;
}

.zsm > a {
    padding-right: 10px;
}

.zsm  :hover {
    transition: ease-in .07s;
    color: white;
}
