@font-face {
    font-family: 'Quicksand';
    src: url('schriften/Quicksand-VariableFont_wght.woff') format('woff');
    font-weight: bold;
  }

body{
    height: 100%;
    font-family: sans-serif;
    margin: 0px;
}

.white {
    background-color: #b3cece;
    padding-bottom: 50px;
    padding-top: 10px;
    height: auto;
}

.blau {
    background-color: white;
}


/*Naviation bar*/

a, li, ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu > ul {
    margin-left: 2%;
    padding-left: 2px;
    font-size: 12px;
    position: relative;
    background-color: #b3cece;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu > ul > li{
    display: inline-block;
}


.main {
    z-index: 1;
    margin-top: 10px;
    background-color: #b3cece;
}

.right {
    margin-right: 2%;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.main > li {
    padding-right: 10px;
}


.right {
    text-align: right;
}

.sub {
    display: none;
    position:absolute;
    z-index: -1;
    transition: ease-in .07s;
}

.sub a {
    display: block;
    padding: 3px;
    font-size: 10px;
}

.main :hover {
    transition: ease-in .07s;
    color: white;
}

.right :hover {
    transition: ease-in .07s;
    color: white;
}

.menu:hover .sub {
    display: block;
    padding-left: 0px;
    margin-left: 0px;
    opacity: 1;
    background-color:  #b3cece;
    width: 150px;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #b3cece;
}

.sub li:first-child {
    padding-top: 20px;
    z-index: -1;
}

.sub li:first-child :hover {
    z-index: -1;
}

/*Titel*/

.titel {
margin-left: 2.1%;
z-index: 1;
margin-top: 30px;
}

h1 {
    font-size: 15px;
    margin-bottom: 3px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-top: 0px;
}

/*slideshow*/

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2% ;
    margin-right: 2% ;
}


.slideshow {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.slideshow > p {
    margin-top: 5px;
    text-align: center;
}

/*Text*/


.rest {
    background-color: #b3cece;
    width: 100%;
}

.one {
    margin-left: 2%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.untereinander {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.one > h3 {
    font-size: 15px;
    color: #b3cece;
    width: 50%;
}

.one > p {
    font-size: 12px;
}

.eins {
    margin-bottom: 5px;
    color: #b3cece;
}

.zwei {
    margin-top: 5px;
    font-size: 12px;
}

.two{
    margin-left: 2%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.blah {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 48%;
}
.two > h3 {
    margin-bottom: 30px;
    color: #b3cece;
    width: 50%;
    font-size: 15px;
}
.entstehung1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    margin-bottom: 15px;
}

.entstehung2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
}

.drei {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 25px;
}

.drei > h3 {
    color: #b3cece;
    width: 50%;
}

.bilder {
    padding-top: 15px;
}

.vier {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 5px;
}

.vier > h3 {
    color: white;
    width: 50%;
}

.vier > p {
    width: 49%;
    font-size: 12px;
}

.box {
    
    background-color: #b3cece;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

.pfeil {
    padding-top: 10px;
    font-size: 12px;
}

/*user Testing*/

.userTesting {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.o {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
    justify-content: space-between;
}

.film {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-bottom: 20px;
}

.p {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2%;
}

.o > h3{
        font-size: 15px;
        color: #b3cece;
        width: 52%;
        margin-left: 2%;
}

.userTesting p {
    font-size: 12px;
    margin-left: 2%;
    margin-left: 0px;
}

.userTesting ul {
    padding-left: 0px;
    font-size: 12px;
    margin-top: 0px;
}

/*Impressum*/

.boden {
    background-color: #b3cece;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}

.zsm {
    display: flex;
    justify-content: flex-start;
}

.zsm > a {
    padding-right: 10px;
}

.zsm  :hover {
    transition: ease-in .07s;
    color: white;
}




